<ion-header>

  <ion-navbar>
    <ion-title>Planos de aula</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="page-content" padding>
  <div class="accordion-list-border accordion-lessons-plan">
    <ion-list class="accordion-list"
              *ngFor="let lesson of lessons; let i=index">
      <ion-list-header class="accordion-list-header accordion-list-header-lessons"
                no-lines
                text-wrap
                (click)="toggleGroup(i)"
                [ngClass]="{active: isGroupShown(i)}">
        <p>{{lesson.school}}</p>
      </ion-list-header>

      <div *ngFor="let discipline of lesson.disciplines;">
        <ion-item *ngIf="isGroupShown(i)" class="accordion-list-item accordion-list-item-lesson" >
          <p text-capitalize>{{discipline}}</p><a class="text-view">Ver plano</a>
        </ion-item>
      </div>
    </ion-list>
  </div>
</ion-content>
