<ion-header>
  <ion-navbar>
    <ion-title>Planos de aula</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="doRefresh()">
        <ion-icon name="sync"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="page-content" padding>
  <div *ngIf="unities.length && unities[0].lessonPlans.length" class="accordion-list-border accordion-lessons-plan">
    <ion-list class="accordion-list"
              *ngFor="let unity of unities; let i=index">
      <ion-list-header class="accordion-list-header accordion-list-header-lessons"
                no-lines
                text-wrap
                (click)="toggleGroup(i)"
                [ngClass]="{active: isGroupShown(i)}">
        <p class="unity_name">{{unity.name}}</p>
      </ion-list-header>

      <div *ngFor="let lessonPlan of unity.lessonPlans;">
        <ion-item *ngIf="isGroupShown(i)" class="accordion-list-item accordion-list-item-lesson" >
          <p text-capitalize class="item-lesson-text">{{lessonPlan.description}}</p>
            <a (click)="openDetail(lessonPlan.id)" class="text-view">Ver plano</a>
        </ion-item>
      </div>
    </ion-list>
  </div>
  <div *ngIf="!unities.length || (unities[0] && !unities[0].lessonPlans.length)" class="empty-results">
    <p margin>Nenhum plano de aula foi encontrado.</p>
  </div>
</ion-content>
