.login-background {
  background-color: #6E00B5;
}

.background-content {
    background-image: url('../assets/img/login/ilusta@3x.png');
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0 auto;
    max-width: 320pt;
    width: 90.6%;
    min-height: 41.7%;
    margin-top: 11%;
}

.background-content .saudacao {
    font-family: 'NunitoLight';
    color: white;
    text-align: center;
    font-size: 32pt;
    padding-top: 3.8%;
    margin-bottom: 25%;
}

.form-login {
    background-color: #fff;
    border-radius: 5pt;
    margin: 15pt auto;
    max-width: 290pt;
    opacity: 70%;
}

.button-login {
    font-family: 'NunitoBold';
    font-size: 18pt;
    background-color: #3fd4b4;
    height: 65pt;
    border-top-left-radius: 0pt;
    border-top-right-radius: 0pt;
    border-bottom-left-radius: 5pt;
    border-bottom-right-radius: 5pt;
    margin-bottom: 0;
}

.item-md.item-block .item-inner {
    padding-right: 0;
}

.button-login:hover {
    background-color: #3fd4b4;
}

.select-md {
    padding: 0;
}

.select-ios {
    padding: 0;
}


ion-content form ion-img {
    width: 25pt;
    height: 25pt;
    background-color: transparent;
}

.inputs {
    margin-left: 25pt;
    width: 82.8%;
    height: 50pt;
    font-family: 'NunitoBold';
    color: #3f3d4d;
    font-size: 14pt;
    padding: 0pt;
}

.text-input-md {
    margin: 0;
}

.select-city .select-icon {
    visibility: hidden;
}

.input-login-img {
    margin-right: 0px !important;
}

.background-content .contato {
    font-family: 'NunitoLight';
    color: white;
    font-size: 14pt;
    text-align: center;
    margin-top: 25pt;
}

.background-content .contato a {
    color: white;
    text-decoration: underline;
}