<ion-content class="login-background" padding>
  <div class="background-content">
    <ion-label class="saudacao">{{greetingText()}}</ion-label>
      <ion-grid class="form-errors" *ngIf="anyError">
        <ion-row>
          <ion-col class="form-errors-content">
            <ion-icon name="close"></ion-icon>
            <p>{{ errorMessage }} <b>Verifique os dados e tente novamente.</b></p>
          </ion-col>
        </ion-row>
      </ion-grid>

    <form class="form-login" #f="ngForm" (ngSubmit)="loginForm(f)">
      <ion-list>
        <ion-item class="inputs">
          <ion-select class="select-city" [(ngModel)]="serverUrl" placeholder="Município" name="serverUrl" id="serverUrl" required>
            <ion-option *ngFor="let city of cities | sort:'name'" value={{city.value}}>
              {{ city.name }}
            </ion-option>
          </ion-select>
        </ion-item>
        <ion-item class="inputs">
          <ion-input ngModel type="text" placeholder="Email ou CPF" name="credential" id="credential" required></ion-input>
        </ion-item>

        <ion-item class="inputs">
          <ion-input ngModel type="password" name="password" id="password" placeholder="Senha" required></ion-input>
        </ion-item>
      </ion-list>

      <button class="button-login" ion-button block [disabled]="!f.valid">Entrar</button>
    </form>
    <ion-label class="contato">
      Você não lembra o acesso?<br>
      <a href="http://suporte.portabilis.com.br/">Entre em contato.</a></ion-label>
  </div>
</ion-content>
