.tab-button-icon {
  width: 21px !important;
  min-width: 21px !important;
  min-height: 20px !important;
  height: 20px !important;
}

.tab-button-icon[ng-reflect-is-active=false][ng-reflect-name="frequencyicon"] {
  content: url("../assets/img/tabs/iconTabbarLfInactive@2x.png");
}

.tab-button-icon[ng-reflect-is-active=true][ng-reflect-name="frequencyicon"] {
  content: url("../assets/img/tabs/iconTabbarLfActive@2x.png");
}

.tab-button-icon[ng-reflect-is-active=false][ng-reflect-name="contentregistrationicon"] {
  content: url("../assets/img/tabs/iconTabbarLcInactive@2x.png");
  width: 28px !important;
  min-width: 28px !important;
  min-height: 21px !important;
  height: 21px !important;
}

.tab-button-icon[ng-reflect-is-active=true][ng-reflect-name="contentregistrationicon"] {
  content: url("../assets/img/tabs/iconTabbarLcActive@2x.png");
  width: 28px !important;
  min-width: 28px !important;
  min-height: 21px !important;
  height: 21px !important;
}

.tab-button-icon[ng-reflect-is-active=false][ng-reflect-name="lessonplanicon"] {
  content: url("../assets/img/tabs/iconTabbarCpaInactive@2x.png");
}

.tab-button-icon[ng-reflect-is-active=true][ng-reflect-name="lessonplanicon"] {
  content: url("../assets/img/tabs/iconTabbarCpaActive@2x.png");
}

.tab-button-icon[ng-reflect-is-active=false][ng-reflect-name="teachingplanicon"] {
  content: url("../assets/img/tabs/iconTabbarCpeInactive@2x.png");
}

.tab-button-icon[ng-reflect-is-active=true][ng-reflect-name="teachingplanicon"] {
  content: url("../assets/img/tabs/iconTabbarCpeActive@2x.png");
}

.tab-button-icon[ng-reflect-is-active=false][ng-reflect-name="userico"] {
  content: url("../assets/img/tabs/iconTabbarPerfilInactive@2x.png");
  min-height: 18px !important;
  height: 18px !important;
}

.tab-button-icon[ng-reflect-is-active=true][ng-reflect-name="userico"] {
  content: url("../assets/img/tabs/iconTabbarPerfilActive@2x.png");
  min-height: 18px !important;
  height: 18px !important;
}

.tab-button[aria-selected=true] {
    background-color: #6E00B5;
}