<ion-header>
  <ion-navbar>
    <ion-title>Novo conteúdo</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="goBack()">
          <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="page-content" id="frequency-page" padding>
  <form #f="ngForm" (ngSubmit)="submitNewContentRecord(f)">
    <div class="form-frequency">
      <div class=form-item *ngIf="unities">
        <h3 class="form-item-title">Qual a escola?</h3>
        <ion-list [(ngModel)]="unityId"
                  name="unity"
                  required
                  class="form-item-radio"
                  (ionChange)="onChangeUnity()"
                  radio-group>
          <ion-item class="form-item-radio-item" *ngFor="let unity of unities" no-lines>
            <ion-label>{{ unity.description }}</ion-label>
            <ion-radio value="{{unity.id}}"></ion-radio>
          </ion-item>

        </ion-list>
      </div>
      <div *ngIf="emptyUnities" class="empty-results">
        <p margin>Nenhuma escola encontrada.</p>
      </div>
      <div class=form-item *ngIf="classrooms">
        <h3 class="form-item-title">Turma</h3>
        <ion-list [(ngModel)]="classroomId"
                  name="classroom"
                  required
                  class="form-item-radio"
                  (ionChange)="onChangeClassroom()"
                  radio-group>
          <ion-item class="form-item-radio-item" *ngFor="let classroom of classrooms" no-lines>
            <ion-label>{{ classroom.description }}</ion-label>
            <ion-radio value="{{classroom.id}}"></ion-radio>
          </ion-item>
        </ion-list>
      </div>
      <div class=form-item *ngIf="disciplines">
        <h3 class="form-item-title">Disciplina</h3>
        <ion-list [(ngModel)]="disciplineId"
                  name="discipline"
                  required
                  class="form-item-radio"
                  radio-group>
          <ion-item class="form-item-radio-item" *ngFor="let discipline of disciplines" no-lines>
            <ion-label>{{ discipline.description }}</ion-label>
            <ion-radio value="{{discipline.id}}"></ion-radio>
          </ion-item>
        </ion-list>
      </div>
      <div class=form-item *ngIf="classrooms">
        <h3 class="form-item-title">Data</h3>
        <div class="date-frequency">
          <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="date" name="date"></ion-datetime>
          <p class="text-mudar">mudar</p>
        </div>
      </div>
      <button class="button-frequency"
              ion-button
              block
              *ngIf="!emptyUnities"
              [disabled]="!f.valid">Avançar</button>
    </div>
  </form>
</ion-content>