.page-content {
    background-color: #F0EBF8;
    height: 100%;
}

.toolbar-title {
    font-size: 24px;
    font-family: "NunitoBold";
    padding-right: 10px;
}

.frequency-day {
    font-family: "NunitoRegular";
    font-size: 16pt;
    color: #868499;
    padding-left: 12px;
}

.frequency-day:first-of-type {
    padding-top: 30px;
}

.frequency-empty-today {
    width: auto;
    height: 70pt;
    background-color: #E5DEEC;
    border-radius: 5pt;
    margin: 0 10px 0 10px;
}

.frequency-empty-today p {
    font-family: "NunitoBold";
    font-size: 14pt;
    color: #87878c;
    text-align: center;
    padding-top: 24pt;
}

.list-school {
    border-radius: 5pt;
    margin: 0 10px 10px;
    background-color: white;
}

.list-school-header {
    width: auto;
    height: 70pt;
    background-color: transparent;
    margin: 0;
}

.list-school-header p {
    font-family: "NunitoBold";
    font-size: 16px;
    text-transform: capitalize;
    color: #3f3d4d;
    background: url('../assets/img/chevronDown@2x.png') no-repeat right;
    background-size: 12pt 6pt;
    margin-right: 13pt;
}

.list-school-header.item.item-md.list-header.list-header-md.active {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19) !important;
}

.list-school-header.item.item-md.list-header.list-header-md.active p {
    font-family: "NunitoBold";
    font-size: 16px;
    text-transform: capitalize;
    color: #3f3d4d;
    background: url('../assets/img/chevronUp@2x.png') no-repeat right;
    background-size: 12pt 6pt;
    margin-right: 13pt;
}

.list-school-item {
    width: auto;
    height: 60pt;
    padding-left: 0px;
    background-color: transparent;
}

.list-school-item p {
    font-family: "NunitoRegular";
    font-size: 16px;
    text-transform: uppercase;
    color: #3f3d4d;
    padding-left: 15px;
    background: url('../assets/img/iconView@2x.png') no-repeat right;
    background-size: 19pt 14pt;
    margin-right: 10pt;
}