.page-content {
    background-color: #F0EBF8;
    height: 100%;
}

.toolbar-title {
    font-size: 24px;
    font-family: "NunitoBold";
    padding-right: 10px;
}

.frequency-day {
    font-family: "NunitoRegular";
    font-size: 18px;
    color: #868499;
    padding-left: 12px;
}

.frequency-day:first-of-type {
    padding-top: 20px;
}

.frequency-empty-today {
    width: auto;
    height: 70px;
    background-color: #E5DEEC;
    border-radius: 5px;
    margin: 0 10px 0 10px;
}

.frequency-empty-today p {
    font-family: "NunitoBold";
    font-size: 16px;
    color: #87878c;
    text-align: center;
    padding-top: 24px;
}

.accordion-list-item .view-eye {
    font-family: "NunitoRegular";
    font-size: 16px;
    text-transform: uppercase;
    color: #3f3d4d;
    padding-left: 15px;
    background: url('../assets/img/iconView@2x.png') no-repeat right;
    background-size: 19pt 14pt;
    margin-right: 10px;
}

.accordion-list-item-frequency-index {
    background-color: white !important;
}

.frequency-space {
    margin-bottom: 20px;
}