<ion-header>
  <ion-navbar>
    <ion-title>Frequência</ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="doRefresh($event)">
          <ion-icon *ngIf="!sync.isSyncing" name="sync"></ion-icon>
          <ion-spinner *ngIf="sync.isSyncing"></ion-spinner>
        </button>
        <button ion-button icon-only (click)="newFrequency()">
           <ion-icon name="add"></ion-icon> 
        </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content class="page-content" padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="emptyFrequencies" class="empty-results">
    <p margin>Nenhuma frequência encontrada.</p>
  </div>
  <div class="frequency-space">
    <div *ngFor="let frequencyDay of lastFrequencyDays; let i=index">
      <div *ngIf="i==0 && !frequencyDay.exists">
        <h3 class="frequency-day">{{frequencyDay.format_date}}</h3>
        <div class="frequency-empty-today">
          <p margin>Ainda não há nenhuma chamada hoje.</p>
        </div>
      </div>
      <div *ngIf="frequencyDay.exists">
        <h3 class="frequency-day">{{frequencyDay.format_date}}</h3>
        <div class="accordion-list-border">
          <ion-list class="accordion-list"
                    *ngFor="let unity of frequencyDay.unities; let y=index">
            <ion-list-header class="accordion-list-header"
                      no-lines
                      text-wrap
                      (click)="toggleGroup(i+''+y)"
                      [ngClass]="{active: isGroupShown(i+''+y)}">
              <p>{{unity.name}}</p>
            </ion-list-header>

            <div *ngFor="let classroomDiscipline of unity.classroomDisciplines;">
              <ion-item (click)="editFrequency(unity.id, classroomDiscipline.classroomId, frequencyDay.date, classroomDiscipline.disciplineId, classroomDiscipline.classNumbers)" *ngIf="isGroupShown(i+''+y)" class="accordion-list-item accordion-list-item-frequency-index" >
                <p *ngIf="!classroomDiscipline.disciplineId" class="view-eye">{{classroomDiscipline.classroomName}}</p>
                <p *ngIf="classroomDiscipline.disciplineId" class="view-eye">{{classroomDiscipline.disciplineName}} - {{classroomDiscipline.classroomName}}</p>
              </ion-item>
            </div>
          </ion-list>
        </div>
      </div>
    </div>
  </div>
  <div style="text-align: center;">
    <button (click)="loadMoreFrequencies()" ion-button>Carregar mais frequências</button>
  </div>

</ion-content>