<ion-header>
  <ion-navbar>
    <ion-buttons class="button-left-student-frequency">
      <button ion-button icon-only (click)="goBack()">
        <img class="img-close-frequency" src="assets/img/arrowLeft@3x.png" >
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="refresh" [ngClass]="isSavingFrequencies ? 'ion-spin-animation' : ''"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title class="students-frequency-title">Frequência</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="page-content" id="students-frequency-page" padding>
  <h3 class="page-content-title">Lista de presença</h3>
  <ion-grid>
    <ion-row class="grid-row" *ngFor="let student of students">
      <ion-col>
        <div class="student-name" text-left>
          {{student.name || student.student.name}}
        </div>
        <ion-list [hidden]="globalAbsence" class="frequency-checkbox" name="classes">
          <ion-item class="frequency-checkbox-item" *ngFor="let frequency of student.frequencies;let i = index" no-lines>
            <ion-label class="frequency-checkbox-item-label"> {{ classes[i] }}ª</ion-label>
            <ion-checkbox type="checkbox"
                          [(ngModel)]="frequency.present"
                          (ionChange)="updateFrequency(frequency, classes[i])"></ion-checkbox>
          </ion-item>
        </ion-list>
        <ion-list [hidden]="!globalAbsence"
                  class="frequency-checkbox"
                  [(ngModel)]="student.present"
                  name="classes"
                  radio-group
                  no-lines>
          <ion-item class="global-frequency global-frequency-present">
            <ion-label>Presente</ion-label>
            <ion-radio (ionSelect)="updateFrequency(student)"
                       checked="{{student.present}}"
                       value="true"></ion-radio>
          </ion-item>
          <ion-item class="global-frequency global-frequency-absent">
            <ion-label>Faltou</ion-label>
            <ion-radio (ionSelect)="updateFrequency(student)"
                       checked="{{!student.present}}"
                       value="false"></ion-radio>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
