<ion-header>
  <ion-navbar>
    <ion-title>Frequência</ion-title>
    <button ion-button (click)="startSync()">
      Sincronizar
    </button>
    <ion-buttons end>
      <button ion-button color="primary" [hidden]="!connectionService.isOnline">Online</button>
      <button ion-button color="danger" [hidden]="connectionService.isOnline">Offline</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form #f="ngForm" (ngSubmit)="frequencyForm(f)">
    <ion-list>
      <ion-item>
        <ion-label>Escola</ion-label>
        <ion-select [(ngModel)]="unityId" name="unity" required (ionChange)="onChangeUnity()">
          <ion-option *ngFor="let unity of unities" value={{unity.id}}>
            {{ unity.description }}
          </ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Turma</ion-label>
        <ion-select [(ngModel)]="classroomId" name="classroom" (ionChange)="onChangeClassroom()" required>
          <ion-option *ngFor="let classroom of classrooms" value={{classroom.id}}>
            {{ classroom.description }}
          </ion-option>
        </ion-select>
      </ion-item>

       <ion-item [hidden]="globalAbsence">
        <ion-label>Disciplina</ion-label>
        <ion-select [(ngModel)]="disciplineId" name="discipline" [required]="!globalAbsence">
          <ion-option *ngFor="let discipline of disciplines" value={{discipline.id}}>
            {{ discipline.description }}
          </ion-option>
        </ion-select>
      </ion-item>

      <ion-item [hidden]="globalAbsence">
        <ion-label>Aulas</ion-label>
        <ion-select [(ngModel)]="selectedClasses" name="classes" multiple="true" [required]="!globalAbsence">
          <ion-option *ngFor="let class of classes;let i = index" value={{class}}>
            {{ class }}ª Aula
          </ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Data</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="date" name="date"></ion-datetime>
      </ion-item>

    </ion-list>
    <button ion-button block [disabled]="!f.valid">Acessar</button>
  </form>
</ion-content>
