.title-content-record {
    font-family: "NunitoBold";
    font-size: 24px;
    color: white;
    margin: 0;
}

.content-record-unity-name {
    font-family: "NunitoBold";
    font-size: 14px;
    color: white;
    margin: 6px 0 6px 0;
}

.page-content {
    background-color: #F0EBF8;
    height: 100%;
}

.content-record-description {
    font-family: "NunitoBold";
    margin-left: 10px;
    font-size: 16px;
}

.details-panel {
    background-color: white;
    margin: 10px 10px 20px 10px;
    border: 1px solid #e7e6f0 !important;
    border-radius: 5px;
}

.detail {
    padding: 15px;
    background-color: transparent;
    border-bottom: 1px solid #E5DEEC !important;
}

.detail-title {
    font-family: "NunitoBold";
    font-size: 16px;
    color: #3f3d4d;
    margin: 0;
    margin-bottom: 2px;
}

#content-record-form {
  .item-inner {
    border-bottom: 0px;
  }
  ion-item.item-input {
    border-bottom: 0px;
  }
  ion-item.item-input.input-has-focus:last-child {
    box-shadow: none;
  }
  .item.item-md .checkbox-md {
    margin: 9px 15px 9px 4px;
  }
}
