<ion-header>
  <ion-toolbar mode="md">
    <ion-title>Novo conteúdo</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="page-content">
  <div *ngIf="unities.length === 0" class="empty-results">
    <p>Nenhuma escola encontrada.</p>
  </div>

  <form *ngIf="unities.length" #f="ngForm" (ngSubmit)="submitNewContentRecord(f)">

    <div class="form-frequency">
      <div class="form-item">
        <h3 class="form-item-title">Qual a escola?</h3>
        <ion-list class="panel">
          <ion-radio-group
            [(ngModel)]="unityId"
            (ionChange)="onChangeUnity()"
            name="unity"
            required
          >
            <ion-item *ngFor="let unity of unities">
              <ion-radio
                [attr.aria-label]="unity.description"
                [value]="unity.id"
              >
                {{ unity.description }}
              </ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
      </div>

      <div class="form-item" *ngIf="classrooms && classrooms.length > 0">
        <h3 class="form-item-title">Turma</h3>
        <ion-list class="panel">
          <ion-radio-group
            [(ngModel)]="classroomId"
            (ionChange)="onChangeClassroom()"
            name="classroom"
            required
          >
            <ion-item *ngFor="let classroom of classrooms">
              <ion-radio
                [attr.aria-label]="classroom.description"
                [value]="classroom.id"
              >
                {{ classroom.description }}
              </ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
      </div>

      <div class="form-item" *ngIf="disciplines && disciplines.length > 0">
        <h3 class="form-item-title">Disciplina</h3>
        <ion-list class="panel">
          <ion-radio-group
            [(ngModel)]="disciplineId"
            name="discipline"
            required
          >
            <ion-item *ngFor="let discipline of disciplines">
              <ion-radio
                [attr.aria-label]="discipline.description"
                [value]="discipline.id"
              >
                {{ discipline.description }}
              </ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
      </div>

      <div class="form-item" *ngIf="classrooms && classrooms.length > 0">
        <h3 class="form-item-title">Data</h3>
        <ion-datetime
          [(ngModel)]="date"
          name="date"
          locale="pt-BR"
          presentation="date"
          class="panel"
          [max]="currentDate.toISOString()"
        ></ion-datetime>
      </div>

      <div class="load-more">
        <ion-button
          type="submit"
          [disabled]="!f.valid || !classrooms.length"
        >
          Avançar
        </ion-button>
      </div>
    </div>
  </form>
</ion-content>
