<ion-header>

  <ion-navbar>
    <ion-title>Sincronização</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card *ngFor="let dailyFrequency of dailyFrequenciesToSync">

    <ion-card-content>
      {{ dailyFrequency | json }}
    </ion-card-content>

  </ion-card>

    <ion-card *ngFor="let dailyFrequencyStudent of dailyFrequencyStudentsToSync">

    <ion-card-content>
      {{ dailyFrequencyStudent | json }}
    </ion-card-content>

  </ion-card>

  <button ion-button block (click)="syncDailyFrequencies()">Sincronizar tudo</button>

</ion-content>
