/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

.page-content {
  background-color: #f0ebf8;
  height: 100%;
  --padding-start: 15px;
  --padding-end: 15px;
  --padding-bottom: 15px;
  --padding-top: 15px;
}

.empty-results {
  width: auto;
  height: 70px;
  background-color: #e5deec;
  border-radius: 5px;
  margin: 0 10px 0 10px;

  p {
    font-size: 16px;
    color: #87878c;
    text-align: center;
    padding-top: 24px;
  }
}

.date-header {
  font-size: 18px;
  color: #868499;
  padding-left: 12px;
}

.view-eye {
  font-size: 16px;
  text-transform: uppercase;
  color: #3f3d4d;
  padding-left: 15px;
  background: url("./assets/img/iconView@2x.png") no-repeat right;
  background-size: 19pt 14pt;
  margin-right: 10px;
}

.panel,
.details-panel {
  background-color: white;
  border-radius: 5px;
}

.panel [slot="content"] {
  padding-bottom: 15px;
}

.details-panel {
  border: 1px solid #e7e6f0 !important;
  margin: 10px 10px 20px 10px;
}

.detail {
  padding: 15px;
  background-color: transparent;
  border-bottom: 1px solid #e5deec !important;
}

.detail-title {
  font-size: 16px;
  color: #3f3d4d;
  margin: 0 0 2px;
}

.detail-text {
  font-size: 14px;
  color: #3f3d4d;
  margin: 0;
}

.multiple-lines {
  background-color: #6e00b5;
  text-align: center;
  color: white;
  height: 225px;
}

.load-more {
  text-align: center;
  margin-top: 15px;
}

.form-item {
  margin-bottom: 24px;
}

.form-item-title {
  color: #3f3e4d;
  font-size: 20px;
  margin-bottom: 12px;

  .observation-count {
    font-size: 0.85rem;
    font-weight: 400;
    color: var(--ion-color-medium);
  }
}

.content-page-section {
  margin-top: 5px;

  font-size: 16px;
  line-height: 20px;
  color: rgb(134, 132, 153);
  padding-left: 12px;
}
