<ion-header class="header-lesson-plan">
  <ion-navbar>
    <ion-buttons class="button-left">
      <button ion-button icon-only (click)="goBack()">
        <img class="img-close" src="assets/img/arrowLeft@3x.png" >
      </button>
    </ion-buttons>
    <img class="lessos-plan-img" src="assets/img/lesson-plan/ilustraPlanoAula@2x.png">
    <p class="title-lesson-plan" text-center>Plano de aula</p>
    <p class="unity-name" text-center>{{unity_name}}</p>
    <p class="description" text-center>{{description}}</p>
  </ion-navbar>
</ion-header>

<ion-content class="page-content">
  <div class="details-panel">
    <div *ngIf="knowledge_areas" class="detail">
      <h3 class="detail-title">Áreas de conhecimento</h3>
      <ul class="contents-list">
        <li *ngFor="let knowledge_area of knowledge_areas;" class="contents-list-item">
          {{"- " + knowledge_area.description}}
        </li>
      </ul>
    </div>
    <div class="detail">
      <h3 class="detail-title">Período escolar</h3>
      <p class="detail-text" text-lowercase>{{period_date}}</p>
    </div>
    <div class="detail">
      <h3 class="detail-title">Objetivos</h3>
      <p class="detail-text">{{objectives}}</p>
    </div>
    <div class="detail">
      <h3 class="detail-title">Conteúdos</h3>
      <ul class="contents-list">
        <li *ngFor="let content of contents;" class="contents-list-item">
          {{"- " + content.description}}
        </li>
      </ul>
    </div>
    <div class="detail" >
      <h3 class="detail-title">Metodologia</h3>
      <div class="detail-text" [innerHTML]="activities"></div>
    </div>
    <div class="detail">
      <h3 class="detail-title">Avaliação</h3>
      <p class="detail-text">{{evaluation}}</p>
    </div>
    <div class="detail">
      <h3 class="detail-title">Referências</h3>
      <p class="detail-text">{{bibliography}}</p>
    </div>
    <!-- <div class="detail">
      <h3 class="detail-title">Anexos</h3>
      <p class="detail-text"></p>
    </div> -->
  </div>
</ion-content>
