<ion-header class="header-lesson-plan">
  <ion-navbar>
    <ion-buttons class="button-left ion-buttons-back">
      <button ion-button icon-only (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title class="multiple-lines">
      <img class="lessos-plan-img edit-img" src="assets/img/lesson-plan/ilustraPlanoAula@2x.png">
      <p class="title-lesson-plan" text-center>Plano de aula</p>
      <p class="unity-name" text-center>{{unity_name}}</p>
      <p class="description" text-center>{{description}}</p>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="page-content">
  <div class="details-panel">
    <div *ngIf="knowledge_areas" class="detail">
      <h3 class="detail-title">Áreas de conhecimento</h3>
      <ul class="contents-list">
        <li *ngFor="let knowledge_area of knowledge_areas;" class="contents-list-item">
          {{"- " + knowledge_area.description}}
        </li>
      </ul>
    </div>
    <div class="detail">
      <h3 class="detail-title">Período escolar</h3>
      <p class="detail-text" text-lowercase>{{period_date}}</p>
    </div>
    <div class="detail">
      <h3 class="detail-title">Conteúdos</h3>
      <ul class="contents-list">
        <li *ngFor="let content of contents;" class="contents-list-item">
          {{"- " + content.description}}
        </li>
      </ul>
    </div>
    <div class="detail">
      <h3 class="detail-title">Atividades/metodologia</h3>
      <div class="detail-text" [innerHTML]="activities || '-'"></div>
    </div>
    <div class="detail">
      <h3 class="detail-title">Objetivos</h3>
      <div class="detail-text" [innerHTML]="objectives || '-'"></div>
    </div>
    <div class="detail">
      <h3 class="detail-title">Recursos</h3>
      <div class="detail-text" [innerHTML]="resources || '-'"></div>
    </div>
    <div class="detail">
      <h3 class="detail-title">Avaliação</h3>
      <div class="detail-text" [innerHTML]="evaluation || '-'"></div>
    </div>
    <div class="detail">
      <h3 class="detail-title">Referências</h3>
      <div class="detail-text" [innerHTML]="bibliography || '-'"></div>
    </div>
    <!-- <div class="detail">
      <h3 class="detail-title">Anexos</h3>
      <p class="detail-text"></p>
    </div> -->
    <div class="detail">
      <h3 class="detail-title">Parecer</h3>
      <div class="detail-text" [innerHTML]="opinion || '-'"></div>
    </div>
  </div>
</ion-content>
